doctype html

html(lang="en-us")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/styles.css")

    title #{title}

  body

    block content

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://cdn.socket.io/socket.io-1.2.1.js")
    script(src="js/bootstrap.min.js")
    script(src="js/scripts.js")
